.header{
    @include center;
}

#bloc_page{
    width: 100%;
    max-width: 1920px;
}

h1{
    text-align: center;
}


a{
    text-decoration: none;
    color: $color-black;
}

li{
    list-style-type: none;
}

footer{
    background-color: $color-footer;
    color: $color-white;
    list-style: none;
}